a.nixie {
    text-decoration: none;
    color: #ff9100;
    font-family: "Exo 2", Helvetica, Arial, sans-serif;
    font-size: 90px;
    letter-spacing: 0px;
}

.avatar {
    background-image: url('https://www.gravatar.com/avatar/2d7e0bfe654f2d1c07ffa5474087a19e?s=150');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(30deg, #FF633D 0%, #FF833D 100%);
  color:#F5F5F5;
}

.footer {
    position:relative;
    text-align:center;
    color:#FF633D;
    font-size: 9px;
    padding: 3px;
  }

.inner-header {
  height:33vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:25vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

/* FontAwesome */
.fa {
    padding: 10px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    animation: push 0.3s linear 1;
}
@keyframes push{
    50%  {transform: scale(0.8);}
}
.fa-linkedin {
    background: #2867B2;
    color: #F5F5F5;
}
.fa-github {
    background: #24292e;
    color: #F5F5F5;
}
.fa-instagram {
    background: #E1306C;
    color: #F5F5F5;
}
.fa-facebook {
    background: #4267B2;
    color: #F5F5F5;
}
.fa-pinterest {
    background: #BD081C;
    color: #F5F5F5;
}

/* Animation */

.parallax > use {
  animation: move-forever 75s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 21s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 30s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 39s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 60s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  }
}